RewriteEngine On

# Forca HTTPS e remove "www" (versao canonica: https://saudesupernova.org)
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ https://saudesupernova.org%{REQUEST_URI} [L,R=301,NE]

# Remove /index.html duplicado da home
RewriteCond %{THE_REQUEST} /index\.html[?\s] [NC]
RewriteRule ^index\.html$ / [L,R=301]
